<style>

	body, h1, h2, p, ul, li {
    	    margin: 0px;
    	    padding: 0px;
	}

	body {
    	    font-family: Arial, sans-serif;
    	    background-color: DimGray;
	    margin: 0px;
	}

	header {
    	    background-color: #2C5F2D;
    	    color: #000;
            text-align: center;
    	    padding: 5px;
	}

        .navb {
            background-color: #2BAE66;
            padding: 10px;
        }

        .navb a {
            display: inline;
            margin-right: 20px;
        }

	.navb a.split {	
	    float: right;
	}

        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        footer {
            background-color: #2C5F2D;
            color: #000;
            text-align: center;
            padding: 10px;
        }
</style>
